*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:root {
	--linear-gradient-primary: linear-gradient(
		270deg,
		#22d3ee 50%,
		#0ea5e9 100%
	);
	--line-border-color: #cbd5e1;
	--color-white: white;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #0f172a;
}

.container {
	width: 100%;
	max-width: 115em;
	margin: 0 auto;
}

/* typography */
.text-color-gradient {
	background: var(--linear-gradient-primary);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* header */
.header {
	margin: 3.85rem 0 3.85rem 0;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-name {
	display: flex;
	align-items: center;
}

.header-title {
	font-weight: 700;
	font-size: 3rem;
}

.header-nav a {
	text-decoration: none;
	color: var(--color-white);
	font-size: 2.4rem;
	font-weight: 700;
}

.header-nav a:not(:last-child) {
	margin-right: 5rem;
}

/* inner */
.inner {
	color: var(--color-white);
	margin-top: 8.5rem;
	margin-bottom: 13.3rem;
}
.inner-blog {
	display: flex;
	justify-content: space-between;
}
.inner-info h1 {
	font-size: 4.8rem;
	font-weight: 700;
}
.inner-info p {
	font-size: 2.6rem;
	line-height: 1.6;
	font-weight: 500;
	margin-top: 4.8rem;
	margin-bottom: 4.6rem;
	width: 71.3rem;
}
.inner-link img {
	width: 60px;
	height: 60px;
}
.inner-link img:nth-child(2) {
	width: 5.5rem;
}
.inner-link img:not(:last-child) {
	margin-right: 3.2rem;
}
.inner-img img {
	width: 100%;
}
