*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:root {
	--linear-gradient-primary: linear-gradient(
		270deg,
		#22d3ee 50%,
		#0ea5e9 100%
	);
	--line-border-color: #cbd5e1;
	--color-white: white;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #0f172a;
}
